
<div class="wrapper-header wrapper">
    <p>ことば<span>∙の∙</span>せんせい</p>
    <ul class="menu">
      <li class="menu-item">
        <a href="#" (click)="navToComponent( $event, 'home')" ><span class="material-symbols-outlined">home</span></a>
      </li>
      <li class="menu-item">
        <a href="#" (click)="navToComponent( $event, 'vocab')" ><span class="material-symbols-outlined" >school</span></a>
      </li>
      <li class="menu-item">
        <a href="#" (click)="navToComponent( $event, 'kana')" > <span style="font-size:35px;"class="material-symbols-outlined" >language_japanese_kana</span></a>
      </li>
      <li class="menu-item">
        <a href="#" (click)="navToComponent( $event, 'progress')" ><span class="material-symbols-outlined" >show_chart</span></a>
      </li>       
      <li class="menu-item">
        <a href="#" (click)="navToComponent( $event, 'settings')" > <span class="material-symbols-outlined">settings</span></a>
      </li>
    </ul>
     <!-- Login-Formular anzeigen, wenn der Benutzer NICHT eingeloggt ist -->
    <div *ngIf="!isLoggedIn" class="login-container">
      <form class="login-form" (submit)="login($event)">
        <input type="text" placeholder="Username" [(ngModel)]="username" name="username" required>
        <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
        <button type="submit">Login</button>
      </form>
    </div>
    <!-- Bereich für eingeloggte Benutzer -->
    <div *ngIf="isLoggedIn" class="login-container">
      <span> </span>
      <button (click)="logout()">Logout</button>
    </div>
</div>


  <div class="wrapper-container wrapper">
    
    <router-outlet name='main'></router-outlet>
    <router-outlet></router-outlet>

  </div>

  <div class="wrapper-footer  wrapper"> 
    <div class="footer">
      <p></p>
      <p>©2023- AXELCYPHER – Alle Rechte vorbehalten.</p>
    </div>
  </div>
