<div class="content">
  <div class="wrapper-table">
      <div class="buttonSwatch">
          <div class="mb-3 input-group">
              <button class="btn btn-outline-secondary active" onclick="openTab(event, 'hiragana')">Hiragana</button>
              <button class="btn btn-outline-secondary" onclick="openTab(event, 'katakana')">Katakana</button>
          </div>
      </div>
      <div id="hiragana" class="tabcontent " style="display:block">
          <h1>Hiragana-Tabelle</h1>
          <div id="hiragana-table">
          <table>
              <thead>
                <tr>
                  <ng-container *ngFor="let item of hiraganaTableHeaderItems">
                    <th [class]="item.class">{{ item.content }}</th>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let group of hiraganaTableItems; let i = index; trackBy: trackByContent">
                <tr *ngFor="let key of objectKeys(group)">
                  <td *ngIf="group[key].length > 0">{{ key }}-</td>
                  <td *ngFor="let item of group[key]" [class]="item.class" [innerHTML]="item.content"></td>
                </tr>
              </ng-container>
              </tbody>
          </table>
          </div>
      </div>
      <div id="katakana" class="tabcontent">
          <h1>Katakana-Tabelle</h1>
          <div id="katakana-table">
          <table>
              <thead>
                  <tr>
                  <th class="cell-empty"></th>
                  <th class="column-header row-header">-a</th>
                  <th class="column-header">-i</th>
                  <th class="column-header">-u</th>
                  <th class="column-header">-e</th>
                  <th class="column-header">-o</th>
                  <th class="column-header"></th>
                  <th class="column-header">-ya</th>
                  <th class="column-header">-yu</th>
                  <th class="column-header">-yo</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="row-header"></td>
                      <td><div>ア<p>a</p></div></td>
                      <td><div>イ<p>i</p></div></td>
                      <td><div>ウ<p>u</p></div></td>
                      <td><div>エ<p>e</p></div></td>
                      <td><div>オ<p>o</p></div></td>
                  </tr>
                  <tr>
                      <td class="row-header">k-</td>
                      <td><div>カ<p>ka</p></div></td>
                      <td><div>キ<p>ki</p></div></td>
                      <td><div>ク<p>ku</p></div></td>
                      <td><div>ケ<p>ke</p></div></td>
                      <td><div>コ<p>ko</p></div></td>
                      <td class="cell-empty"></td>
                      <td><div>キャ<p>kya</p></div></td>
                      <td><div>キュ<p>kyu</p></div></td>
                      <td><div>キョ<p>kyo</p></div></td>
                  </tr>
                  <tr>
                      <td class="row-header">s-</td>
                      <td><div>サ<p>sa</p></div></td>
                      <td><div>シ<p>si</p></div></td>
                      <td><div>ス<p>su</p></div></td>
                      <td><div>セ<p>se</p></div></td>
                      <td><div>ソ<p>so</p></div></td>
                      <td class="cell-empty"></td>
                      <td><div>シャ<p>sha</p></div></td>
                      <td><div>シュ<p>shu</p></div></td>
                      <td><div>ショ<p>sho</p></div></td>
                  </tr>
                  <tr>
                  <td class="row-header">t-</td>
                  <td><div>タ<p>ta</p></div></td>
                  <td><div>チ<p>ti</p></div></td>
                  <td><div>ツ<p>tu</p></div></td>
                  <td><div>テ<p>te</p></div></td>
                  <td><div>ト<p>to</p></div></td>
                  <td class="cell-empty"></td>
                  <td><div>チャ<p>tya</p></div></td>
                  <td><div>チュ<p>tyu</p></div></td>
                  <td><div>チョ<p>tyo</p></div></td>
                  </tr>
                  <tr>
                  <td class="row-header">n-</td>
                  <td><div>ナ<p>na</p></div></td>
                  <td><div>ニ<p>ni</p></div></td>
                  <td><div>ヌ<p>nu</p></div></td>
                  <td><div>ネ<p>ne</p></div></td>
                  <td><div>ノ<p>no</p></div></td>
                  <td><div>ン<p>n</p></div></td>
                  <td><div>ニャ<p>nya</p></div></td>
                  <td><div>ニュ<p>nyu</p></div></td>
                  <td><div>ニョ<p>nyo</p></div></td>
                  </tr>
                  <tr>
                  <td class="row-header">h-</td>
                  <td><div>ハ<p>ha</p></div></td>
                  <td><div>ヒ<p>hi</p></div></td>
                  <td><div>フ<p>hu</p></div></td>
                  <td><div>ヘ<p>he</p></div></td>
                  <td><div>ホ<p>ho</p></div></td>
                  <td class="cell-empty"></td>
                  <td><div>ヒャ<p>hya</p></div></td>
                  <td><div>ヒュ<p>hyu</p></div></td>
                  <td><div>ヒョ<p>hyo</p></div></td>
                  </tr>
                  <tr>
                  <td class="row-header">m-</td>
                  <td><div>マ<p>ma</p></div></td>
                  <td><div>ミ<p>mi</p></div></td>
                  <td><div>ム<p>mu</p></div></td>
                  <td><div>メ<p>me</p></div></td>
                  <td><div>モ<p>mo</p></div></td>
                  <td class="cell-empty"></td>
                  <td><div>ミャ<p>mya</p></div></td>
                  <td><div>ミュ<p>myu</p></div></td>
                  <td><div>ミョ<p>myo</p></div></td>
                  </tr>
                  <tr>
                  <td class="row-header">y-</td>
                  <td><div>ヤ<p>ya</p></div></td>
                  <td class="cell-empty"></td>
                  <td><div>ユ<p>yu</p></div></td>
                  <td class="cell-empty"></td>
                  <td><div>ヨ<p>yo</p></div></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  </tr>
                  <tr>
                  <td class="row-header">r-</td>
                  <td><div>ラ<p>ra</p></div></td>
                  <td><div>リ<p>ri</p></div></td>
                  <td><div>ル<p>ru</p></div></td>
                  <td><div>レ<p>re</p></div></td>
                  <td><div>ロ<p>ro</p></div></td>
                  <td class="cell-empty"></td>
                  <td><div>リャ<p>rya</p></div></td>
                  <td><div>リュ<p>ryu</p></div></td>
                  <td><div>リョ<p>ryo</p></div></td>
                  </tr>
                  <tr>
                  <td class="row-header">w-</td>
                  <td><div>ワ<p>wa</p></div></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td><div>ヲ<p>wo</p></div></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  </tr>
                  <tr>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  </tr>
                  <tr>
                  <td class="row-header">g-</td>
                  <td><div>ガ<p>ga</p></div></td>
                  <td><div>ギ<p>gi</p></div></td>
                  <td><div>グ<p>gu</p></div></td>
                  <td><div>ゲ<p>ge</p></div></td>
                  <td><div>ゴ<p>go</p></div></td>
                  <td class="cell-empty"></td>
                  <td><div>ギャ<p>gya</p></div></td>
                  <td><div>ギュ<p>gyu</p></div></td>
                  <td><div>ギョ<p>gyo</p></div></td>
                  </tr>
                  <tr>
                  <td class="row-header">z-</td>
                  <td><div>ザ<p>za</p></div></td>
                  <td><div>ジ<p>ze</p></div></td>
                  <td><div>ズ<p>zu</p></div></td>
                  <td><div>ゼ<p>zi</p></div></td>
                  <td><div>ゾ<p>zo</p></div></td>
                  <td class="cell-empty"></td>
                  <td><div>ジャ<p>ja</p></div></td>
                  <td><div>ジュ<p>ju</p></div></td>
                  <td><div>ジョ<p>jo</p></div></td>
                  </tr>
                  <tr>
                  <td class="row-header">d-</td>
                  <td><div>ダ<p>da</p></div></td>
                  <td><div>ヂ<p>dji</p></div></td>
                  <td><div>ヅ<p>dzu</p></div></td>
                  <td><div>デ<p>de</p></div></td>
                  <td><div>ド<p>do</p></div></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  <td class="cell-empty"></td>
                  </tr>
                  <tr>
                  <td class="row-header">b-</td>
                  <td><div>バ<p>a</p></div></td>
                  <td><div>ビ<p>i</p></div></td>
                  <td><div>ブ<p>u</p></div></td>
                  <td><div>ベ<p>e</p></div></td>
                  <td><div>ボ<p>o</p></div></td>
                  <td class="cell-empty"></td>
                  <td><div>ビャ<p>a</p></div></td>
                  <td><div>ビュ<p>u</p></div></td>
                  <td><div>ビョ<p>o</p></div></td>
                  </tr>
                  <tr>
                  <td class="row-header">p-</td>
                  <td><div>パ<p>pa</p></div></td>
                  <td><div>ピ<p>pi</p></div></td>
                  <td><div>プ<p>pu</p></div></td>
                  <td><div>ペ<p>pe</p></div></td>
                  <td><div>ポ<p>po</p></div></td>
                  <td class="cell-empty"></td>
                  <td><div>ピャ<p>pya</p></div></td>
                  <td><div>ピュ<p>pyu</p></div></td>
                  <td><div>ピョ<p>pyo</p></div></td>
                  </tr>
                  <tr>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      </tr>
                  <tr>
                      <td class="row-header">t-</td>
                      <td class="cell-empty"></td>
                      <td><div>ティ<p>thi</p></div></td>
                      <td><div>トゥ<p>twu</p></div></td>


                  </tr>
                  <tr>
                      <td class="row-header">d-</td>
                      <td class="cell-empty"></td>
                      <td><div>ディ<p>dhi</p></div></td>
                      <td><div>ドゥ<p>dwu</p></div></td>

                  </tr>
                  <tr>
                      <td class="row-header">f-</td>
                      <td><div>ファ<p>fa</p></div></td>
                      <td><div>フィ<p>fi</p></div></td>
                      <td class="cell-empty"></td>
                      <td><div>フェ<p>fe</p></div></td>
                      <td><div>フォ<p>fo</p></div></td>
                  </tr>
                  <tr>
                      <td class="row-header">w-</td>
                      <td class="cell-empty"></td>
                      <td><div>ウィ<p>wi</p></div></td>
                      <td class="cell-empty"></td>
                      <td><div>ウェ<p>we</p></div></td>
                      <td><div>ウォ<p>who</p></div></td>
                  </tr>
                  <tr>
                      <td class="row-header">v-</td>
                      <td><div>ヴァ<p>va</p></div></td>
                      <td><div>ヴィ<p>vi</p></div></td>
                      <td><div>ヴ<p>vu</p></div></td>
                      <td><div>ヴェ<p>ve</p></div></td>
                      <td><div>ヴォ<p>vo</p></div></td>
                  </tr>
                  <tr>
                      <td class="row-header">sh-</td>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      <td><div>シェ<p>she</p></div></td>
                  </tr>
                  <tr>
                      <td class="row-header">j-</td>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      <td><div>ジェ<p>je</p></div></td>
                  </tr>
                  <tr>
                      <td class="row-header">ch-</td>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      <td class="cell-empty"></td>
                      <td><div>チェ<p>che</p></div></td>
                  </tr>
              </tbody>
          </table>
          </div>
      </div>
  </div>
</div>


<script>

function openTab(evt, cityName) {
// Declare all variables
var i, tabcontent, tablinks;

// Get all elements with class="tabcontent" and hide them
tabcontent = document.getElementsByClassName("tabcontent");
for (i = 0; i < tabcontent.length; i++) {
tabcontent[i].style.display = "none";
}

// Get all elements with class="tablinks" and remove the class "active"
tablinks = document.getElementsByClassName("tablinks");
for (i = 0; i < tablinks.length; i++) {
tablinks[i].className = tablinks[i].className.replace(" active", "");
}

// Show the current tab, and add an "active" class to the button that opened the tab
document.getElementById(cityName).style.display = "block";
evt.currentTarget.className += " active";
} 

</script>