
<div class="wrapper-header wrapper">
    <p>ことば<span>の</span>せんせい</p>
    <ul class="menu">
      <li class="menu-item">
        <a href="#" (click)="navToComponent( $event, 'home')" ><span class="material-symbols-outlined">home</span></a>
      </li>
      <li class="menu-item">
        <a href="#" (click)="navToComponent( $event, 'vocab')" ><span class="material-symbols-outlined" >school</span></a>
      </li>
      <li class="menu-item">
        <a href="#" (click)="navToComponent( $event, 'kana')" > <span style="font-size:35px;"class="material-symbols-outlined" >language_japanese_kana</span></a>
      </li>
      <li class="menu-item">
        <a href="#" (click)="navToComponent( $event, 'progress')" ><span class="material-symbols-outlined" >show_chart</span></a>
      </li>       
      <li class="menu-item">
        <a href="#" (click)="navToComponent( $event, 'settings')" > <span class="material-symbols-outlined">settings</span></a>
      </li>
    </ul>
  </div>


  <div class="wrapper-container wrapper">
    
    <router-outlet name='main'></router-outlet>
    <router-outlet></router-outlet>

  </div>

  <div class="wrapper-footer  wrapper"> 
    <div class="footer">
      <p></p>
      <p>©2023- AXELCYPHER – Alle Rechte vorbehalten.</p>
    </div>
  </div>
